# If you have multiple git[hub|lab] accounts but they use the same email address you can use:
#    git config --global user.name "Your Name"
#    git config --global user.email "email@example.com"
# If the accounts use different emails, you must set up each repo with a local configuration file
#    git config --local user.name "Your Name"
#    git config --local user.email "email@example.com"

[branch]
	autosetuprebase = always

[core]
#    editor = \"C:\Program Files\Microsoft VS Code\Code.exe" --wait
    autocrlf = false
    excludesfile = ~/.gitignore_global
    longpaths = true
    safecrlf = true
    whitespace = fix,-indent-with-non-tab,cr-at-eol

[credential "https://github.com"]
    username = techie2000

[color]
    ui = auto

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    frag = magenta bold
    meta = yellow bold
    new = green bold
    old = red bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

#[credential]
#    helper = cache

[credential "https://github.com"]
    username = techie2000

#[credential "helperselector"]
#    selected = manager-core
#    sslCAinfo = /etc/ssl/certs/ca-certificates.crt

[delta]
    features = line-numbers decorations
    line-numbers = true

[delta "decorations"]
    minus-style = red bold normal
    plus-style = green bold normal
    minus-emph-style = white bold red
    minus-non-emph-style = red bold normal
    plus-emph-style = white bold green
    plus-non-emph-style = green bold normal
    file-style = yellow bold none
    file-decoration-style = yellow box
    hunk-header-style = magenta bold
    hunk-header-decoration-style = magenta box
    minus-empty-line-marker-style = normal normal
    plus-empty-line-marker-style = normal normal
    line-numbers-right-format = "{np:^4}│ "

#[diff]
#    tool = vscode

[fetch]
    prune = true

[http]
    sslVerify = false

[init]
    defaultBranch = main

#[merge]
#    tool = vscode

#[mergetool "vscode"]
#  cmd = code --wait $MERGED

[pretty]
    # https://git-scm.com/docs/pretty-formats
    minimal = %C(auto)%h %d %C(bold)%s%C(reset) %C(dim)(%cr)%C(reset)
    reflog = %C(auto)%h %<|(17)%gd %C(green)%<|(49)%cd%Creset %C(bold)%gs%Creset

[pull]
    rebase = false

[push]
  default = simple
  autoSetupRemote = true

[status]
  showUntrackedFiles = all

